@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header, footer {
  height: 7vh;
  width: 100vw;
  background-color: #cacaca;
}

main {
  height: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.lessons-block {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 25px;
}

.lessons-block a {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  color: black;
  text-decoration: none;
  margin-bottom: 2%;
}

.number {
  width: 30%;
  height: auto;
}

.cv-pic {
  width: 60%;
  height: auto;
}

.light {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: green;
}

.hard {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
}

.number-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lessons-block a:hover {
  background-color: whitesmoke;
  transform: scale(1.25, 1.25);
  transition: 0.5s;
  border: 3px solid #e4183e;
}

@media screen and (max-device-width: 600px) {
  .lessons-block a {
    width: 40%;
    margin-bottom: 3%;
  }

  .lessons-block {
    flex-wrap: wrap;
  }

  .lessons-block a:hover {
    transform: none;
    border: 2px solid #000000;
  }
}
