<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>16.08 Lesson</title>
    <link rel="stylesheet" href="css/style.css">
    <style media="screen">

    </style>
  </head>
  <body>
    <h2>User creation form</h2>
    <form action="mailto:" method="post">
      <div class="">
        <input type="text" name="" value="">
      </div>

      <div class="">
        <input type="text" name="" value="">
      </div>

      <div class="">
        <input type="text" name="" value="">
      </div>

      <div class="">
        <textarea name="name" rows="8" cols="80"></textarea>
      </div>

      <div class="">
        <input type="text" name="" value="">
      </div>

      <button type="button" name="button"></button>
  </body>
</html>
