<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Lesson 10</title>
    <link rel="stylesheet" href="css/style.css">
    <style media="screen">

    </style>
  </head>
  <body>
    <header>

    </header>
    <main>
      <h1>Blog</h1>
      <p>Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br>
        ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure <br>
        dolor in reprehenderit in voluptate velit.
      </p>
    </main>
    <footer>

    </footer>
  </body>
</html>
